h1{ 
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align-last: center;
    color: blue;
}
body{background-image: url(../app/imagenes/grupal.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        overflow: scroll;
        height: 100%;
        width: 100%;
    }
